nav
{
    display:flex;
    list-style-type: none;
    background-color: rgb(166, 51, 28);
    color: blanchedalmond;
    justify-content: space-evenly;
    padding :10px;
}
*
{
    margin: 0;
    padding: 0;
}
